* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text-gary: #3f4954;
  --text-light: #686666da;
  --bg-color: #0f0f0f;
  --white: #ffffff;
  --midnight: #104f55;
  --sky: rgb(152, 219, 240);
}

/*-------------globle variable-----------*/

a {
  text-decoration: none;
  color: var(--text-gary);
}

ul {
  list-style-type: none;
}

h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2.5rem;
}

h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.3rem;
}

h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

button.btn {
  border: none;
  border-radius: 2rem;
  padding: 1rem 3rem;
  font-size: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  cursor: pointer;
}

p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: var(--text-light);
}
/*-------------globle variable-----------*/

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.navbar {
  background-color: var(--white);
  padding: 0 2rem;
  min-height: 4rem;
}

.navbar .nav-menu {
  justify-content: space-between;
}

.navbar .nav-list {
  display: flex;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

.navbar .nav-left {
  padding: 0.8rem;
}

.logo {
  align-items: center;
  text-decoration: none;
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-gary);
}

.navbar .nav-list .nav-link {
  padding: 1.6rem 1rem;
  font-size: 1.1rem;
  position: relative;
}

.navbar .nav-list .nav-link:hover {
  background-color: var(--bg-color);
}

.nav-item {
  text-decoration: none;
}

.navbar .nav-list .nav-link:hover .nav-item {
  color: var(--white);
}

.navbar .nav-right {
  padding: 1.3rem 0;
}

.navbar .nav-right ul {
  display: flex;
  flex-direction: row;
}

.navbar .nav-right ul li {
  padding: 0 0.2rem;
}

.navbar .nav-right ul li:hover {
  color: var(--text-light);
  cursor: pointer;
}

.burger {
  display: none;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}

/*--------------- Blog -----------------*/

/*--------------- Mian content -----------------*/

/*--------------- Site title -----------------*/

main {
  min-height: 100%;
}

main .site-title {
  background: url("./Image/background-image.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
}

main .site-title .site-background {
  padding-top: 30vh;
  text-align: center;
  color: var(--white);
}

main .site-title h1 h3 {
  margin: 0.3rem;
}

main .site-title .btn {
  margin: 1.8rem;
  background-color: var(--white);
}

main .site-title .btn:hover {
  background: transparent;
  border: 1px solid var(--white);
  color: var(--white);
}

/*--------------- site title -----------------*/

/*-------------------Blog Carouse-----------------*/

main .blog {
  background: url("../src/Image/background-images2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 93vh;
}

main .blog .blog-post {
  padding-top: 1.7rem;
}

main .blog-post .blog-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 73vh;
  width: 60vw;
  margin: 1.5rem auto;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

main .blog-post .blog-content .div {
  display: flex;
}

main .blog-post .blog-content .buttom {
  height: 3rem;
  width: 3rem;
  background-color: var(--sky);
  border: none;
  font-size: 30px;
  border-radius: 0.4rem;
  cursor: pointer;
}

main .blog-post .blog-content .div .prew {
  box-shadow: -2px 2px 0 0 var(--text-gary);
  margin: 20vh 0;
  z-index: 1;
}

main .blog-post .blog-content .prew:hover {
  box-shadow: -2px 2px 0 0 var(--sky);
}

main .blog-post .blog-content .div .next {
  box-shadow: 2px 2px 0 0 var(--text-gary);
  margin: 20vh 0;
  margin-left: -2.3rem;
}

main .blog-post .blog-content .next:hover {
  box-shadow: 2px 2px 0 0 var(--sky);
}

main .blog-post .blog-content img {
  margin-left: -2.3rem;
  height: 50vh;
  width: 60vw;
}

main .blog-content .btn-blog {
  padding: 0.7rem 2rem;
  background: var(--sky);
  margin: 0.5rem;
}

main .blog-content span {
  display: block;
}

section .container .owl-nav {
  position: absolute;
  top: 0%;
  margin: 0 auto;
  width: 100%;
}

/*-------------------Blog Carouse-----------------*/

/*---------------Site Content---------------*/

main .site-content {
  display: grid;
  grid-template-columns: 70% 30%;
  margin-top: 4rem;
}

main .post-content {
  width: 100%;
}

main .container .post-image img {
  width: 55vw;
  height: 100%;
}

.text-gray {
  color: var(--text-gary);
}

main .site-content .post-content > .post-image,
.post-title {
  padding: 1rem 4rem;
  position: relative;
}

main .site-content .post-content > .post-image .post-info {
  background-color: var(--sky);
  padding: 1rem;
  position: absolute;
  bottom: 0%;
  left: 19vw;
  border-radius: 3rem;
  display: flex;
}
main .site-content .post-content > .post-image .post-info > span {
  display: flex;
  align-items: center;
}

main .site-content .post-content > .post-image > div {
  overflow: hidden;
}

main .site-content .post-content > .post-image .img {
  width: 100%;
  transition: all 1s ease;
}

main .site-content .popular-post .post-content > .post-image .img {
  padding-right: 4rem;
}

main .site-content .post-content > .post-image .img:hover {
  transform: scale(1.3);
}

main .site-content .post-content > .post-image .post-info span {
  margin: 0.5rem;
}

main .site-content .post-content > .post-image .post-info p {
  padding: 1rem;
}

main .post-content .post-title a {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
}
main .post-content .post-title p {
  line-height: 1.5rem;
  font-size: 1.2rem;
  padding: 1rem 0;
  text-align: justify;
}

.site-content .post-content .post-title .btn-post {
  border-radius: 3rem;
  padding: 0.7rem 1.5rem;
  background-color: var(--sky);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.site-content .pagination {
  justify-content: center;
  color: var(--text-gary);
  margin: 4rem 0;
}

.site-content .pagination a {
  padding: 0.6rem 0.9rem;
  border-radius: 2rem;
  margin: 0 0.3rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.site-content .pagination .pages {
  background: var(--text-gary);
  color: var(--white);
}

/*---------------Site Content---------------*/

/*----------- Sidebar ------------*/

.site-content > .sidebar .category-list {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-left: -2.5rem;
}

.site-content > .sidebar .category-list .list-items {
  background: var(--sky);
  padding: 0.4rem 0.5rem;
  margin: 0.8rem 0;
  border-radius: 3rem;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.site-content > .sidebar .category-list .list-items {
  color: black;
}

.site-content .sidebar .popular-post .post-content {
  padding: 1rem;
  padding-right: 4rem;
  margin-top: 1.9rem;
}

.site-content .sidebar .popular-post h2 {
  padding-top: 4.5rem;
}

.site-content .sidebar .popular-post .post-image img {
  height: 10rem;
}

.site-content .sidebar .popular-post div {
  padding: 0.4rem 0.1rem !important;
  bottom: 0rem !important;
  left: 0.1rem !important;
  border-radius: 0rem !important;
  background: white !important;
}

.site-content .sidebar .popular-post .post-title a {
  font-size: 1rem;
}

.site-content .sidebar .newsletter {
  margin-top: 4rem;
}

.site-content .sidebar .newsletter .form-element {
  padding: 0.5rem 2rem;
}

.site-content .sidebar .newsletter .input-element {
  width: 80%;
  height: 1.9rem;
  padding: 0.3rem 0.5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1rem;
}

.site-content .sidebar .newsletter .form-btn {
  border-radius: 0;
  padding: 0.8rem 29%;
  margin: 1rem 0;
  background: var(--sky);
}

.site-content .sidebar .popular-tags {
  padding: 5rem 0;
}

.site-content .sidebar .popular-tags .tags .tag {
  background: var(--sky);
  padding: 0.4rem 1rem;
  border-radius: 3rem;
  margin: 0.4rem 0.6rem;
}
/*----------- Sidebar ------------*/

/*--------------- Main content -----------------*/

/*-----------------Footer----------------*/

footer.footer {
  height: 100%;
  background: var(--bg-color);
  position: relative;
}

footer.footer .container {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

footer.footer .container > div {
  flex-grow: 1;
  flex-basis: 0;
  padding: 3rem 0.9rem;
}

footer.footer .container h2 {
  color: var(--white);
}

footer.footer .container p {
  padding: 1rem 0;
}

footer.footer .newsletter .form-element {
  background: black;
  display: inline-block;
}

footer.footer .newsletter .form-element input {
  padding: 0.5rem 0.7rem;
  border: none;
  background: transparent;
  color: var(--white);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1rem;
  width: 83%;
  width: 10rem;
}

footer.footer .newsletter .form-element span {
  background: var(--sky);
  padding: 0.5rem 0.7rem;
  display: inline-block;
}

footer.footer .instagram div > img {
  display: inline-block;
  width: 25%;
  height: 50%;
  margin: 0.3rem 0.4rem;
}

footer.footer .follow div {
  color: var(--white);
  padding: 0rem 0.4rem;
}

footer.footer .rights {
  justify-content: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-bottom: 2rem;
}

footer.footer .rights h4 a {
  color: var(--white);
  display: inline-block;
}
/*-----------------Footer----------------*/

/*--------------- Blog -----------------*/

@media (max-width: 915px) {
  #h-nav {
    height: 4rem;
  }
  #v-class {
    opacity: 0;
  }
  .nav-menu {
    flex-direction: column;
  }
  .nav-left {
    margin: 0 auto;
  }
  .nav-mid .nav-list {
    flex-direction: column;
    text-align: center;
    margin-right: 2.5rem;
  }
  .nav-right {
    margin: 0 auto;
  }
  .nav-right ul {
    margin-right: 1.9rem;
  }
  .burger {
    display: block;
  }
}

/*   viewport less then or equal to 1130px     */
@media only screen and (max-width: 1130px) {
  .site-content .post-content > .post-image .post-info {
    left: 4rem !important;
    bottom: 1 rem !important;
    border-radius: 0% !important;
  }

  .site-content .sidebar .popular-post .post-info {
    display: none !important;
  }

  footer.footer .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
/*   viewport less then or equal to 1130px     */

/*   viewport less then or equal to 750px     */

@media only screen and (max-width: 750px) {
  .nav .nav-menu,
  nav .nav-items {
    flex-direction: column;
  }
  .nav .toggle-collapse {
    display: initial;
  }

  main .site-content {
    grid-template-columns: 100%;
  }
  .site-content > .sidebar {
    padding-left: 3rem;
  }
  footer.footer .container {
    grid-template-columns: repeat(1, 1fr);
  }
  footer .rights {
    padding: 0 1.4rem;
    text-align: center;
  }
  main .site-content .popular-post .post-content > .post-image .img {
    padding-right: 3rem;
    height: 35vh;
  }
}
/*   viewport less then or equal to 750px     */

/*   viewport less then or equal to 530px     */
@media only Screen and (max-width: 530px) {
  main.blog {
    height: 120vh;
  }
  .site-content .post-content > .post-image .post-info {
    display: none !important;
  }
  footer.footer .container > div {
    padding: 1rem 0.9rem !important;
  }
  footer .rights {
    padding: 0 1.4rem;
    text-align: center;
  }
}
/*   viewport less then or equal to 530px     */

/*   viewport less then or equal to 400px     */
@media only screen and (max-width: 400px) {
  main .blog-post .blog-content {
    height: 78vh;
  }
  main .site-content .popular-post .post-content > .post-image .img {
    height: 30vh;
  }
  main .site-content .post-content > .post-image .img {
    height: 35vh;
  }
}
